.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-lrK8nqD1zPZb);
  overflow-x: hidden;
  overflow-y: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.reveal__wb87F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: var(--token-Le07ngBUPl2h);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  z-index: 2;
  position: fixed;
  margin-bottom: -100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 21px;
  padding: 8px;
}
.freeBox__xOu2Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__co6Y2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 0px;
}
.link__a8YZt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__avpl {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__avpl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__avpl > :global(.__wab_flex-container) > *,
.freeBox__avpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__avpl > :global(.__wab_flex-container) > picture > img,
.freeBox__avpl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__dtWwl {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__dtWwl > picture > img {
  object-fit: cover;
}
.text__pI3S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pI3S {
    font-size: 4vw;
  }
}
.freeBox__jHgTv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__jHgTv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jHgTv > :global(.__wab_flex-container) > *,
.freeBox__jHgTv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jHgTv > :global(.__wab_flex-container) > picture > img,
.freeBox__jHgTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.navDropdown:global(.__wab_instance) {
  position: relative;
  width: auto;
  display: none;
}
.cmsDataFetcher__vgMbn:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__xeVgc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField__yRmEh:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__isKbi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qhYmb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__fSqcn:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fSqcn:global(.__wab_instance) {
    display: none;
  }
}
.svg___2VVsu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n8Thz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-transform: uppercase;
  color: var(--token-jgohepLVeKvh);
  padding: 0px;
}
.svg__deZlt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__asJ8R:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__asJ8R:global(.__wab_instance) {
    display: none;
  }
}
.svg__k7MzV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l6LrW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-transform: uppercase;
  color: var(--token-jgohepLVeKvh);
  padding: 0px;
}
.svg___4Qbxp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___3D6I6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lwnZr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fpSoE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-transform: uppercase;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fpSoE {
    font-size: 4vw;
  }
}
.svg__khvxb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__q5AR0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: var(--token-lrK8nqD1zPZb);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__pyX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  z-index: 1;
  background: none;
  margin-top: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
  border: 46px solid var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pyX {
    width: 100vw;
    height: 100vw;
    flex-shrink: 0;
    border-style: none;
  }
}
.freeBox___7ZTxy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
.reveal__nblSm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--token-jgohepLVeKvh);
  text-transform: uppercase;
  line-height: 96px;
  text-decoration-line: none;
  background: none;
  font-size: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__nblSm:global(.__wab_instance) {
    font-size: 17vw;
  }
}
.text__hdJkw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  background: none;
  text-decoration-line: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hdJkw {
    white-space: pre;
    line-height: 7vw;
    font-size: 7vw;
  }
}
.reveal__lk8Dc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  text-transform: uppercase;
  line-height: 96px;
  background: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__lk8Dc:global(.__wab_instance) {
    font-size: 12vw;
  }
}
.text__gsWc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: var(--token-jgohepLVeKvh);
  line-height: 96px;
  text-transform: uppercase;
  background: none;
  align-self: center;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gsWc {
    font-size: 15vw;
  }
}
.freeBox__vl8Du {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
.reveal__l9Dfa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: var(--token-jgohepLVeKvh);
  text-transform: uppercase;
  line-height: 46px;
  background: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__l9Dfa:global(.__wab_instance) {
    font-size: 5vw;
  }
}
.text__unY6U {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  background: none;
  line-height: 46px;
}
.reveal__ruQoi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: var(--token-nPGO_Kmb_pVT);
  text-transform: uppercase;
  line-height: 56px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__ruQoi:global(.__wab_instance) {
    font-size: 5vw;
  }
}
.text__i0JGb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: var(--token-nPGO_Kmb_pVT);
  text-transform: uppercase;
  line-height: 56px;
}
.freeBox___0MV0J {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  top: 0;
  left: auto;
  z-index: 0;
  right: auto;
  min-height: 0;
  margin: auto;
}
.lottie:global(.__wab_instance) {
  object-fit: cover;
  width: 1000px;
  height: 1000px;
  color: var(--token-lrK8nqD1zPZb);
  flex-shrink: 0;
  padding-left: 36px;
  position: absolute;
  left: auto;
  top: 0;
  right: auto;
  bottom: 0;
  z-index: 1;
  display: none;
  margin: auto;
}
.reveal__pK4K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.freeBox__zJe08 {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
        ellipse 50% 50% at 50% 50%,
        #000000 0%,
        #ffffff00 100%
      )
      0% 0% / 100% 100% repeat,
    linear-gradient(0deg, #000000 0%, #e6510082 42%) 0% 0% / 100% 100% repeat;
}
.freeBox__ir8EG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lrK8nqD1zPZb);
  min-height: 100vh;
  padding-top: 25vh;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__ir8EG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ir8EG > :global(.__wab_flex-container) > *,
.freeBox__ir8EG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ir8EG > :global(.__wab_flex-container) > picture > img,
.freeBox__ir8EG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___84PSt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-qIVP3gO0nm6d);
}
.freeBox___84PSt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___84PSt > :global(.__wab_flex-container) > *,
.freeBox___84PSt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___84PSt > :global(.__wab_flex-container) > picture > img,
.freeBox___84PSt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___84PSt {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___84PSt > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___84PSt > :global(.__wab_flex-container) > *,
  .freeBox___84PSt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___84PSt > :global(.__wab_flex-container) > picture > img,
  .freeBox___84PSt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox___2JJcg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img___0CXfE {
  object-fit: cover;
  max-width: 100%;
}
.img___0CXfE > picture > img {
  object-fit: cover;
}
.freeBox___14JFj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___14JFj {
    padding: 16px;
  }
}
.freeBox__x3GyH {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__x3GyH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__x3GyH > :global(.__wab_flex-container) > *,
.freeBox__x3GyH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x3GyH > :global(.__wab_flex-container) > picture > img,
.freeBox__x3GyH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__grBhf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__gcdBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 96px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gcdBn {
    font-size: 17vw;
  }
}
.text__gtcLf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gtcLf {
    font-size: 5vw;
  }
}
.text__fgLnD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__xAh9W {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 0;
}
.freeBox__xAh9W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__xAh9W > :global(.__wab_flex-container) > *,
.freeBox__xAh9W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xAh9W > :global(.__wab_flex-container) > picture > img,
.freeBox__xAh9W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xAh9W {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xAh9W > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xAh9W > :global(.__wab_flex-container) > *,
  .freeBox__xAh9W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xAh9W > :global(.__wab_flex-container) > picture > img,
  .freeBox__xAh9W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.reveal__bC42V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  row-gap: 48px;
  padding: 24px 72px 24px 24px;
  border-top: 0px none var(--token-jgohepLVeKvh);
  border-right: 16px solid var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__bC42V:global(.__wab_instance) {
    border-top-style: none;
    border-right-style: none;
    padding: 16px;
  }
}
.freeBox__hVggz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__hVggz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hVggz > :global(.__wab_flex-container) > *,
.freeBox__hVggz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hVggz > :global(.__wab_flex-container) > picture > img,
.freeBox__hVggz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.reveal__sbEby:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wsp4V {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wsp4V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wsp4V > :global(.__wab_flex-container) > *,
.freeBox__wsp4V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsp4V > :global(.__wab_flex-container) > picture > img,
.freeBox__wsp4V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wsp4V {
    padding: 0px;
  }
}
.text___9DyzF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9DyzF {
    text-align: right;
    font-size: 4vw;
  }
}
.freeBox__pQmnl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px 0px;
}
.text__lqEit {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: right;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lqEit {
    font-size: 4vw;
  }
}
.reveal___8WJw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gc5Hu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gc5Hu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__gc5Hu > :global(.__wab_flex-container) > *,
.freeBox__gc5Hu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gc5Hu > :global(.__wab_flex-container) > picture > img,
.freeBox__gc5Hu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__qeTnw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qeTnw {
    font-size: 4vw;
  }
}
.freeBox__r7CVa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px 0px;
}
.text___6MXqK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VAkvtdhtfqjr);
  text-align: right;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6MXqK {
    font-size: 4vw;
  }
}
.freeBox___2DUq {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox___2DUq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___2DUq > :global(.__wab_flex-container) > *,
.freeBox___2DUq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2DUq > :global(.__wab_flex-container) > picture > img,
.freeBox___2DUq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2DUq {
    padding: 16px;
  }
}
.freeBox__lv6BZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__mRf4F {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 24px 0px;
}
.freeBox__mRf4F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mRf4F > :global(.__wab_flex-container) > *,
.freeBox__mRf4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mRf4F > :global(.__wab_flex-container) > picture > img,
.freeBox__mRf4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal___0TDuf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__os3NZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__lnNYd {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
}
.freeBox__qr61E {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__kObQr {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.text__yf7Ut {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.reveal__liGMd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img___5Wl0O {
  object-fit: contain;
  max-width: 100%;
  width: 185px;
}
.img___5Wl0O > picture > img {
  object-fit: contain;
}
.freeBox__i3Ctf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
.freeBox__v6Aq8 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 24px 0px;
}
.freeBox__v6Aq8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__v6Aq8 > :global(.__wab_flex-container) > *,
.freeBox__v6Aq8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v6Aq8 > :global(.__wab_flex-container) > picture > img,
.freeBox__v6Aq8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal___5E0U7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wjgcP {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text___9ZDGp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
}
.freeBox__duMnp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eT9Nr {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.text__mmcFu {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.reveal__iEaY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uURmg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 24px 0px;
}
.text__lza2H {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
}
.freeBox__oMnOn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uqqEn {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.text__tpo0K {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
}
.img__w6PSj {
  object-fit: contain;
  max-width: 100%;
  width: 185px;
  display: none !important;
}
.img__w6PSj > picture > img {
  object-fit: contain;
}
.reveal__qp9Q5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__by7Ya {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-VzXJUOMFypxY);
  min-height: 100vh;
  padding-bottom: 24px;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  overflow: hidden;
  padding-top: 25vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__by7Ya {
    padding-top: 25vh;
  }
}
.freeBox__hS0Gj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1200px;
  overflow: hidden;
  min-width: 0;
  padding: 48px 0px 0px;
}
.freeBox__hS0Gj > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hS0Gj > :global(.__wab_flex-container) > *,
.freeBox__hS0Gj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hS0Gj > :global(.__wab_flex-container) > picture > img,
.freeBox__hS0Gj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___8BgLt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 0px;
}
.reveal___9Pai:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  padding-left: 24px;
  border-bottom-style: none;
  font-size: 56px;
  font-weight: 700;
  color: var(--token-lrK8nqD1zPZb);
  text-align: left;
  text-transform: uppercase;
  white-space: pre;
  text-decoration-line: none;
  border-left: 8px solid var(--token-nPGO_Kmb_pVT);
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___9Pai:global(.__wab_instance) {
    font-size: 9vw;
  }
}
.text__q4BkG {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-lrK8nqD1zPZb);
  font-size: 56px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  white-space: pre;
  text-decoration-line: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q4BkG {
    font-size: 12vw;
    white-space: pre-wrap;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsDataFetcher:global(.__wab_instance) {
    display: flex;
    flex-direction: column;
  }
}
.reveal__v4Ffa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__j89Fy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__b9Pc1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__goTni {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 25vh 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__goTni {
    padding-top: 24px;
  }
}
.reveal__rCCyu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background: var(--token-lrK8nqD1zPZb);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__rwRa5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lrK8nqD1zPZb);
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  min-width: 0;
}
.freeBox___7Z2K {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: var(--token-rqpUOX0-d-HI);
  min-width: 0;
  padding: 48px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Z2K {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.freeBox__c3LbH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 15vh;
  max-width: 1200px;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c3LbH {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px;
  }
}
.freeBox__dwYmi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 24px 0px 8px;
  border-right: 8px solid var(--token-nPGO_Kmb_pVT);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dwYmi {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.text___7Dxke {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
  color: var(--token-VzXJUOMFypxY);
  font-size: 56px;
  text-align: left;
  font-weight: 500;
  white-space: pre;
  padding-left: 0px;
  padding-right: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Dxke {
    font-size: 12vw;
  }
}
.trustedByMarque:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  height: 100%;
  background: none;
  position: absolute;
  left: 363px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .trustedByMarque:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.hypernovaUsa:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__w5LW1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 56px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__w5LW1:global(.__wab_instance) {
    height: 8vw;
  }
}
.text__lCDmp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jSs0K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.unisynTechnologies:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__zylpz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 56px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__zylpz:global(.__wab_instance) {
    height: 8vw;
  }
}
.text__ebmtX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__aFwbN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.flowFeed:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__noCO:global(.__wab_instance) {
  position: relative;
  height: 56px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__noCO:global(.__wab_instance) {
    height: 8vw;
  }
}
.text___4UQu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3BJ8J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.scrubstr:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__bxOry:global(.__wab_instance) {
  position: relative;
  height: 56px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__bxOry:global(.__wab_instance) {
    height: 8vw;
  }
}
.text___4DGf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rQdUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.autoLingo:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__lyzKw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 56px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__lyzKw:global(.__wab_instance) {
    height: 8vw;
  }
}
.text__wnTSe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cbuG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.skillShotGolf:global(.__wab_instance) {
  width: auto;
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.projectCard__h4PH4:global(.__wab_instance) {
  position: relative;
  height: 56px;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectCard__h4PH4:global(.__wab_instance) {
    height: 8vw;
  }
}
.text__r8Iqq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iruwO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sogNl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-lrK8nqD1zPZb);
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  padding-top: 96px;
  min-width: 0;
  min-height: 0;
}
.freeBox__jEsDn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__jEsDn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__jEsDn > :global(.__wab_flex-container) > *,
.freeBox__jEsDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jEsDn > :global(.__wab_flex-container) > picture > img,
.freeBox__jEsDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEsDn {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEsDn > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEsDn > :global(.__wab_flex-container) > *,
  .freeBox__jEsDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jEsDn > :global(.__wab_flex-container) > picture > img,
  .freeBox__jEsDn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.reveal___5Xbvz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  margin-bottom: -10%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___5Xbvz:global(.__wab_instance) {
    padding: 16px;
  }
}
.img__p4Yh {
  object-fit: cover;
  max-width: 100%;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.img__p4Yh > picture > img {
  object-fit: cover;
}
.freeBox__klJA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yyHAx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__xbxE5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 56px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xbxE5 {
    font-size: 12vw;
    text-align: center;
  }
}
.text__lEbWm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  z-index: 1;
  font-size: 56px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lEbWm {
    font-size: 12vw;
    text-align: center;
  }
}
.freeBox___3Chn2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3Chn2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3Chn2 > :global(.__wab_flex-container) > *,
.freeBox___3Chn2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Chn2 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Chn2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__yvVzf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__dgwuE:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uho4C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__duFqi {
  color: var(--token-jgohepLVeKvh);
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__duFqi {
    font-size: 4vw;
  }
}
.svg__rXd1J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bxAdf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bxAdf {
    font-size: 4vw;
  }
}
.link__rcRky {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__yhezA:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uwmjX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vUbEm {
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vUbEm {
    font-size: 4vw;
  }
}
.svg__iHe8E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
